@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
    --fonte_padrao:'Poppins', sans-serif;

}

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: var(--fonte_padrao);
}

body{
    height: 100vh;

    background-color: #4070f4;
}

nav{

    border-radius: 12px;
    background-color: #FFF;
}

.nav_content{
    display: flex;
    height: 120px;
    align-items: center;
    list-style: none;
}

.icon-link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 120px;
    width: 95px;
    text-decoration: none;
}
.link-icon{
    font-size: 38px;
    color: #999;
}
.icon-link.active .link-icon{
    color: #4070F4;
}

.icon-text{
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    color: #4070F4;

    transform: translateY(32px);
}
.icon-link.active .icon-text{
   opacity: 1;
}

footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}

